@media(max-width:991px) {
    .nav-item {
        width: fit-content;
    }
    .header{
        padding-bottom: 50px;
        padding-top: 170px;
    }
}
@media (min-width: 768px){
    .col-sm-6 {
        width: 50%;
    }
}

 